footer {
  width: 100%;
  height: fit-content;
  background-color: $medium-pink;
  padding: 2rem;
  @include universal-flex-display(center, center);

  & .footer-container {
    width: 100%;
    height: 100%;
    @include universal-flex-display(center, center);
    flex-direction: column;

    & .social-icons-container {
      & svg {
        margin-right: 1rem;
        font-size: 2rem;
        cursor: pointer;
      }
    }

    & .footer-text-info,
    .footer-thanks-text {
      font-size: 1.3rem;
      width: clamp(300px, 50%, 600px);
      text-align: center;
    }
  }
}
