@import "./mixins";

.create-button-container {
  width: 100%;
  @include universal-flex-display(center, center);
  padding: 2rem 0;

  & .create-btn {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: $text-color;
    background-color: $button-background-color;
    font-size: clamp(1rem, 2vw, 1.5rem);
    transition: all 0.3s ease;

    &:active {
      transform: scale(0.9);
    }
  }
}
