.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  @include universal-flex-display(center, center);

  &-container {
    height: fit-content;
    width: clamp(320px, 80%, 700px);
    background-color: $dark-red;
    border-radius: 15px;
    position: relative;

    & .popup-title-container {
      padding: 1rem 0;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
    }

    .close-popup-container {
      position: absolute;
      top: 2%;
      right: 2%;

      & svg {
        font-size: 2rem;
        cursor: pointer;
        color: $light-white-pink;
      }
    }

    & .container {
      width: 100%;
      padding: 1rem;
      @include universal-flex-display(center, center);
      margin-bottom: 2rem;
    }

    & .task-name {
      & input {
        width: clamp(280px, 70%, 400px);
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid $light-pink;
        line-height: 2;

        &[placeholder] {
          color: $light-white-pink;
          font-size: clamp(0.9rem, 2.5vw, 1.3rem);
        }
      }
    }

    & .task-description {
      & textarea {
        background: none;
        width: clamp(280px, 70%, 400px);
        min-height: 10rem;
        border-color: $light-pink;
        padding: 0.5rem;
        outline: none;

        &[placeholder] {
          color: $light-white-pink;
          font-size: clamp(0.75rem, 2.5vw, 1rem);
        }
      }
    }

    .day-list {
      & .day-container,
      & .list-container {
        width: 50%;
        @include universal-flex-display(space-evenly, center);
        flex-direction: column;

        & p {
          margin-top: 0.5rem;
          width: 50%;
          text-align: center;
        }
      }
    }

    & .new-task {
      padding: 0rem;
    }

    & .lists-container {
      padding: 1rem;
      height: 90%;
      width: 100%;
    }
  }
}
