@import "./mixins";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem/1.5 $font-family;
  background-color: $dark-red;
}

h1,
h2 {
  color: $some-pink;
  margin-bottom: 1rem;
  line-height: 1.25;
}
p {
  margin-bottom: 1rem;
  color: $light-white-pink;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 1rem;
  @include universal-flex-display(center, center);
}
