*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 1rem/1.5 "Cormorant Garamond", serif;
  background-color: $background-primary-color;
  color: $text-color;
}

h1,
h2 {
  color: $headers-text-color;
  margin-bottom: 1rem;
  line-height: 1.25;
}
p {
  margin-bottom: 1rem;
  color: $paragraph-text-color;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
