$light-white-pink: rgba(212, 202, 202, 0.863);
$light-pink: rgba(155, 106, 97, 0.897);
$some-pink: rgb(199, 154, 133);
$medium-pink: rgb(68, 37, 37);
$dark-red: rgb(29, 1, 1);

$font-family: "Cormorant Garamond", serif;
