$background-primary-color: rgb(29, 1, 1);
$text-color: rgba(224, 219, 219, 0.966);
$paragraph-text-color: rgba(214, 202, 202, 0.822);
$headers-text-color: rgb(199, 154, 133);

$background-list-container: rgba(235, 225, 225, 0.863);
